body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffdff;
  font-family: Arial, Helvetica, sans-serif;
  /* width:100%;   */
}
P {
  font-size: 16px;
}
body {
  line-height: 1.6;
  margin: 0;
}

header {
  /* width:100%; */
  background-color: rgb(249, 242, 239);
  height: 260px;
}

.a img {
  margin-top: 70px;
  margin-left: 120px;
  position: absolute;
}

.b > input {
  border: 1px solid rgba(222, 223, 223, 1);
  border-radius: 35px;
  background-color: rgb(249, 242, 239);
  width: 556px;
  height: 68px;
  margin-left: 360px;
  margin-top: 50px;
  text-align: center;
}

::placeholder {
  color: rgba(222, 223, 223, 1);
  text-align: centre;
  font-size: 20px;
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

.c img {
  position: absolute;
  width: 68px;
  height: 68px;
  /* z-index: -1; */
  top: 52px;
  margin-left: 860px;
}

.d img {
  position: absolute;
  width: 42px;
  height: 42px;
  z-index: 1;
  top: 65px;
  margin-left: 872px;
}

.e ul {
  position: absolute;
  top: 37px;
  margin-left: 1000px;
  display: inline-block;
}

.e ul svg {
  padding-right: 50px;
}

hr {
  width: 1235px;
  margin-top: 30px;
  margin-left: 120px;
  height: 4px;
}

.f svg {
  position: absolute;
  margin-left: 120px;
  top: 197px;
}

.g svg {
  position: absolute;
  margin-left: 200px;
  top: 199px;
}

.h ul li {
  list-style: none;
  display: inline-block;
  padding-right: 35px;
}

.h ul {
  margin-left: 430px;
  margin-top: 42px;
}

.h ul li a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(118, 117, 117);
  font-family: Arial, Helvetica, sans-serif;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ha {
  position: absolute;
  color: orange;
}

.h ul li a .hi {
  color: rgb(255, 68, 10);
}

.i svg {
  position: absolute;
  top: 197px;
  left: 1190px;
}

.i p {
  color: rgb(77, 78, 79);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  position: absolute;
  top: 175px;
  margin-left: 1230px;
}
main {
  margin-left: 120px;
}
.main-box {
  background-color: #aa2d07;
  width: 1200px;
  height: 720px;
  border-radius: 10px;
}
.form {
  margin-left: 38px;
}
.email {
  margin-top: 56px;
}
.name {
  margin-top: 36px;
}
.text {
  margin-top: 84px;
  height: 271px;
  width: 814px;
  border-radius: 10px;
}
input {
  height: 63px;
  width: 956px;
  border-radius: 10px;
}
.btn {
  background-color: #fafffe;
  color: #ff440a;
  height: 56px;
  width: 181px;
  border-radius: 10px;
  border: 1px solid #ff440a;
  font-size: 20px;
  font-weight: bold;
  margin-top: 24px;
}
.contact {
  background-color: #aa2d07;
  color: #fafffe;
  height: 469px;
  width: 1200px;
  border-radius: 10px;
  margin-top: 172px;
}
.text-2 {
  margin-left: 38px;
  margin-top: 16px;
}
.info {
  background-color: #fafffe;
  color: #4d4e4f;
  height: 458px;
  width: 534px;
  float: right;
  position: relative;
  bottom: 280px;
  right: 64px; border-radius:10px;border:1px solid #4d4e4f;
}
 .span{margin-left:48px;}
 h5{margin-left:48px;font-weight:bolder;}
 
